*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f3f3f3;
}

.font-khbat{
    font-family: 'khbattambong';
}

.newest-news{

}

.header-newest-news{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid red;
}

.header-newest-news p{
    position: absolute;
    background-color: red;
    padding: 5px;
    font-family: khbattambong;
    color: white;
    left: 0;
    bottom: -16px;
}

.item-newest-news {
    list-style: none;
    padding: 10px;
}

.item-newest-news li{
    padding: 15px 0 15px 0;
    border-bottom: 1px solid rgb(212, 208, 208);
}

.item-newest-news li a{
    text-decoration: none;
    font-family: khbattambong;
    font-size: 14px;
    color: black;
}

.item-newest-news li a:hover{
    color: blue;
}

.info, .social-icon{
    list-style: none;
}

.info li a{
    text-decoration: none;
    color: rgb(226, 206, 206);
}

.card img:hover{
    transform: scale(0.99);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.card-body a{
    text-decoration: none;
    color: black;
}

.card-body a:hover{
    cursor: pointer;
    color: dimgray;
    transition: all ease-in-out 0.2s;
}

/* for card new in topic.php */
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

/* link */


.menu-item .menu-link:hover{
    color: yellow !important;
    transition: all ease-in-out .3s !important;
}

.active{
    color:yellow !important;
}





@font-face{
    font-family: khbattambong;
    src: url('../font/Kh-Battambang.ttf');
}

@font-face{
    font-family: khmoul;
    src: url('../font/KhmerMoul.ttf');
}