.header-title{
    background-color: cadetblue;
    padding: 10px 5px 5px 15px;
}

.block-photo{
    position: relative;
}

.block-photo:hover{
    opacity: 0.5;
    cursor: pointer;
}

.block-photo .file-photo{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index:3;
}

.block-photo img{
    position: absolute;
    top: 0;
    left: 0;
}